{#
<form method='post' action='/student/dql'>
    <label>search by name</label>
    <input type='text' name='test'>
    <input type="submit" value="search" >
</from>#}

<form method='post' action='/student/dqltwo'>
    <label>search by name</label>
    <input type='text' name='test'>
    <input type="submit" value="search" >
</from>
<br>

{% for st in students %}
{{st.id}}
{{st.name}}
{{st.age}}
{{st.email}} 
<br>
{% endfor%}